:root{
    --main-color: rgb(56, 154, 103);
}

.link{
    text-decoration: none;
    color: inherit;
}

@mixin tablet {
    @media(max-width: 768px){
        @content;
    }
}

@mixin phone {
    @media(max-width: 480px){
        @content;
    }
}